@charset "UTF-8";
/* CSS Document */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Osaka-mono", "MS Gothic", "monospace";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.clear {
    clear: left;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 36px;
    margin: 20px 40px 0 40px;
    float: left;
    color: #44546A;
}

.list a {
    color: #000;
    float: left;
    margin: 33px 20px;
    font-size: 18px;
    color: #44546A;
}

.list a:hover {
    border-bottom: 2px solid chocolate;
}

.home {
    height: 600px;
    margin-top: 80px;
    background-image: url("https://lh5.googleusercontent.com/IaU7I9yeKlPOp1CGpy_4CiB2YiLcXXiCt8lnyH5vjajC25sSDD2ZIxVLkEDW6mly_rtN2fj0uVlp7D1gwzhLUx3hQBl5BZJLknIkOm8I0tYIFdinHA=w1280");
    background-size: cover;
}

.menu {
    padding: 80px 0;
    border-bottom: 1px solid #603d19;
}

h2 {
    font-size: 28px;
    letter-spacing: 5px;
    text-align: center;
    color: #603d19;
}

.line {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    color: #603d19;
}

.menu-list {
    margin: 0 60px;
}

.item img {
    margin: 50px 30px 15px 30px;
}

.item {
    float: left;
    margin: 0 20px;
    border: 2px solid #603D19;
    border-radius: 3px;
    padding-bottom: 15px;
}

.item p {
    font-size: 20px;
    text-align: center;
    color: #603d19;
}

.item a {
    color: #000;
}

.calendar {
    padding: 90px 0;
    background-color: mintcream;
    border-bottom: 1px solid #603d19;
}

.open {
    margin: 0 465px;
}

.access {
    padding: 90px 0;
    border-bottom: 1px solid #603d19;
}

.map {
    margin-left: 270px;
    padding-right: 50px;
    float: left;
    border-right: 2px solid chocolate;
}

.google {
    float: right;
    margin: 40px 150px 0 0;
}

h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

.google p {
    padding-bottom: 20px;
}

.link {
    color: #603d19;
}

.contact {
    padding: 60px 0;
    text-align:center;
    background-color: gainsboro;
}

.submit:hover {
    background-color: rgba(255,255,255,0.5);
}

.submit:active {
    background-color: rgba(255,255,255,1);
}

input,textarea {
    font-size: 15px;
    width: 400px;
    border: 1px solid #603d19;
    border-radius: 3px;
    padding: 10px;
    margin-top: 30px;
    background-color: rgba(255,255,255,1);
    color: #6A5F5F;
}

footer {
    height: 110px;
    padding: 20px;
    background-color: gainsboro;
}

.footer-list img {
    float: right;
    padding-top: 20px;
    width: 70px;
    border-top: 2px solid chocolate;
}
