@charset "UTF-8";
/* CSS Document */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Osaka-mono", "MS Gothic", "monospace";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.clear {
    clear: left;
}

h2 {
    font-size: 28px;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
}

.line {
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}


header {
    height: 140px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    position: none;
    z-index: 3;
}

.main {
    background-color: chocolate;
}

.list {
    margin-left: 250px;
}

.list a {
    float: left;
    text-align: center;
    margin: 80px 55px;
    font-size: 24px;
    color: chocolate;
}

.list a:hover {
    border-bottom: 2px solid #000;
}

.home {
    height:600px;
    padding-top: 80px;
    padding-left: 210px;
    background-color: chocolate;
}

.home img {
    width: 1000px;
    height: 500px;
}

.menu {
    background-color: chocolate;
    padding: 40px 0 100px 0;
}

.menu-list {
    margin-left: 80px;
    width: 90%;
    padding-top: 30px;
}

.item {
    float: left;
    margin: 0 15px;
    width: 30%;
    border: 2px solid #603D19;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.5);
}

.item img {
    padding: 30px 20px 20px 25px;
}

.item p {
    font-size: 20px;
    color: #603d19;
    text-align: center;
    padding-bottom: 20px;
}

.access {
    background-color: #000;
    float: left;
    width: 900px;
}

.access h2 {
    padding-top: 30px;
    width: 300px;
    margin-left: 300px;
}

.access .line {
    padding-bottom: 10px;
    width: 300px;
    margin-left: 300px;
}

.map {
    float: left;
    padding: 20px;
}

.google {
    text-align: center;
    margin: 50px 100px;
}

h3 {
    font-size: 15px;
    padding-bottom: 20px;
    color: #fff;
}

.google p {
    font-size: 12px;
    padding-bottom: 20px;
    color: #fff;
}

.link {
    color: chocolate;
}

.link:hover {
    border-bottom: 0.5px solid #fff;
}


.calendar {
    width: 540px;
    float: left;
    margin-top: 30px;
    padding: 30px 0;
    background-color: rgba(0,0,0,0.5);
}

.open {
    text-align: center;
}


.contact {
    margin-top: 360px;
    text-align:center;
    background-color: rgba(0,0,0,0.5);
    height: 500px;
    padding-top: 100px;
}

.submit:hover {
    background-color: rgba(255,255,255,0.7);
}

.submit:active {
    background-color: rgba(255,255,255,1);
}

input,textarea {
    font-size: 15px;
    width: 400px;
    border: 1px solid #603d19;
    border-radius: 3px;
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
    color: #6A5F5F;
}

footer {
    height: 110px;
    padding: 20px;
    background-color: #000;
}

.footer-list img {
    float: right;
    padding-top: 20px;
    width: 70px;
    border-top: 2px solid chocolate;
}
