/* スマホ向けレイアウト */
@media(max-width: 670px) {
    .logo {
        font-size: 28px;
    }
    
    .list a {
        font-size: 15px;
    }
    
    .item {
        margin: 20px 70px;
    }
   
    .open {
        margin: 20px 85px;
    }
    
    .map {
        margin: 20px 130px;
        border: none;
    }
    
    .google {
        text-align: center;
        margin: 20px 130px;
    }
    
    .contact {
        margin: 250px 0;
    }
    
    .access {
        border: none;
    }
    
    footer {
        height: 110px;
    }
    
    .footer-list {
        margin-right: 200px;
    }
}
