/* タブレット向けレイアウト */
@media(max-width: 1000px) {
    
    .logo {
        font-size: 32px;
    }
    
    .menu-list {
        margin-left: 50px;
    }
    
    .item {
        margin: 0 10px;
    }
    
    .item img {
        width: 250px;
        padding: 20px 15px 20px 25px;
    }
    
    .item p {
        text-align: center;
        width: 100%;
    }
    
    .access {
        text-align: center;
    }
    
    .map {
        border: none;
        width: 100%;
        margin: 0px;
        padding-right: 0px;
    }
    
    .google {
        width: 100%;
        text-align: center;
        margin: 40px 0;
    }
    
     .access {
        border: none;
    }
    
    footer {
        height: 110px;
    }
    
    .footer-list img {
        float: none;
    }
    
    .footer-list {
        text-align: center;
    }
    
}

/* スマホ向けレイアウト */
@media(max-width : 670px ){    
    
    .logo {
        font-size: 28px;
    }
    
    .list {
        display: none;
    }
    
    .menu-list {
        margin-left: 150px;
        width: 100%;
    }
    
    .item {
        text-align: center;
        width: 50%;
        margin-bottom: 20px;
    }

    
    .item p {
        text-align: center;
    }
    
    .access {
        text-align: center;
        padding-bottom: 30px;
    }
    
    .map {
        border: none;
        margin: 0px;
        width: 100%;
        padding-right: 0px;
    }
    
    .google {
        text-align: center;
        margin: 40px 0;
    }
    
    .access {
        border: none;
    }
    
    footer {
        height: 110px;
    }
    
    .footer-list img {
        float: none;
    }
    
    .footer-list {
        text-align: center;
    }
}
